<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Business Idea Collector</title>
  <link rel="stylesheet" href="css/ideacollector.css"/>
</head>

<body>

  <div id="narrative">
    <section id="narrative-main">
      <p>
      </p>
    </section>
  </div>

  <div id="ideacollectorapp">

    <header>
      <h1 id="projecttype">Business Idea Collector</h1>

      <p>
        Tech people often waste a lot of mental energy <em>thinking</em> about business ideas,
        instead of <em>working</em> on them.
        If you don't execute on idea it will stick around in your head like 
        <em><a href="http://youtu.be/0sHCQWjTrJ8?t=7s">brain crack</a></em>, as Ze Frank says.
      </p>
      <p>
        Here is what I propose.
        The script below will ask you some hard questions,
        so that you can get that idea down quickly.
        Don't have to worry about me stealing your ideas: everything is saved to <code>localStorage</code>.
      </p>

    </header>

    <section id="main">

      <!-- 
      <h2>Project name</h2>
      --> 

      <!-- current quesiton prompt -->
      <div id="current-question">
        <div class="prompt">
          <span class="QAstyle">Q:</span> How will you make money?  
        </div>
        <div class="response new">
          <span class="QAstyle">A:</span> 
          <input id="new-response" type="text" placeholder="Enter your answer here... (you have 40 secs)" x-webkit-speech />
        </div>
      </div>


      <!-- answered questions list will go here later -->
      <ul id="questions-list"></ul>

    </section>


    <footer>
          <a id="save-as" class="save-as">Export as markdown</a>
          <a id="save-as-tex" class="save-as">Export as .tex</a>
          &nbsp;
          <a id="clear-completed">Clear all</a>
    </footer>

  </div>

  <!-- 
  <div id="instructions">
    Just answer the questions.
  </div>
  -->

  <div id="credits">
    <a href="https://github.com/ivanistheone/ideacollector">source</a>
  </div>


  
  
  
  <!-- Templates -->


  <script type="text/template" id="question-template">
      <div class="prompt">
        <span class="QAstyle">Q:</span>     <%- prompt %>
      </div>
      <div class="response view">
        <span class="QAstyle">A:</span>     <%- response %>
      </div>
      <div class="response edit">
        <span class="QAstyle">A:</span> 
        <input type="text" value="<%- response %>" />
      </div>
  </script>

  <script type="text/template" id="current-question-template">
        <div class="prompt">
          <span class="QAstyle">Q:</span>   <%- prompt %>  
        </div>
        <div class="response new">
          <span class="QAstyle">A:</span> 
          <input id="new-response" type="text" placeholder="Enter your answer here... (you have 40 secs)" x-webkit-speech />
          <span id="timer"></span>
        </div>
  </script>




  <!--  Let's get things started and import the libs -->
  <script src="js/vendor/jquery.js"></script>
  <script src="js/vendor/underscore.js"></script>
  <script src="js/vendor/backbone.js"></script>
  <script src="js/vendor/backbone.localStorage.js"></script>
  <script src="js/vendor/FileSaver.js"></script>




  <script type="text/javascript">

    // App namespace
    App = {                                       // really window.App
      initialize: function(){
        console.log("Application starting...");
        var i,
            prompt,
            currqview,
            questions_data;


        console.log( window.location.hash );
        // project type 
        questions_data = App.questions_data["business"];
        if (window.location.hash === "#community") { 
          questions_data = App.questions_data["community"];
          $("#projecttype").html("Community Project Idea Collector");
        }
        if (window.location.hash === "#bblock") {    
          questions_data = App.questions_data["bblock"]; 
          $("#projecttype").html("Building Block Idea Collector");
        }
        if (window.location.hash === "#paper") {
          questions_data = App.questions_data["paper"];
          $("#projecttype").html("Research Paper Idea Collector");
        }

        //setup the current question view
        App.currqview = currqview = new App.CurrentQuestionView({  prompt: "What is your business idea?",
                                                                   list_of_questions: questions_data
                                                                });
        App.currqview.nextQuestion();
        currqview.render();

        // setup the question list 
        App.questions = new App.QuestionsList();
        App.questionsview = new App.QuestionsView();


      },
      initalized:"true"
    };

    // We will "fire" backbone events to coordinate between the views
    _.extend(App, Backbone.Events);
    // ex
    //  App.on("Qanswered", function(msg) {
    //    console.log("Triggered " + msg);
    //  });
    //  App.trigger("Qanswered", "an event");
    


  </script>




  <script src="js/ideacollector.js"></script>
  <script src="js/questions.js"></script>

  <script type="text/javascript">
    // Load the application once the DOM is ready, using `jQuery.ready`:
    $(function(){
      App.initialize();
    });

  </script>




  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-40271728-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>






  </body>
</html>
